.title {
    font-size:30px;
    color:beige;
}
.title_span {
    font-size:15px;
}
.full_title {
    box-shadow:4px 4px 10px grey;
}
canvas {
    border-radius:20px;
    box-shadow:4px 4px 10px grey;
    animation-name:animate;
    animation-iteration-count:infinite;
}
@keyframes animate {
    from{border:5px solid red;}
}